/*
Colors	Paper Source Colorscope: Gravel, Night
Fonts	Google Fonts: Roboto
*/

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background-color: rgb(27,45,80);
	line-height: 1.5;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: rgb(89,88,77);
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(255,255,255);
}

header h1 {
	font-size: 180%;
	text-align: center;
}

.section {
	padding-right: 40px;
	padding-left: 40px;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	overflow: hidden;
}

.hero-area {
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	background-image: url(../images/hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	max-width: 100%;
	height: auto;
}

.content-area {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(255,255,255);
}

.sidebar {
	float: left;
	width: 33%;
	padding-right: 40px;
}

.sidebar h2, .sidebar h3 {
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.sidebar h2 {
	font-size: 120%;
}

.sidebar h3 {
	font-size: 100%;
}

.sidebar p {
	margin-bottom: 10px;
}

.main-area {
	width: 66%;
}

.menu {
	margin-top: -10px;
}

ul li {
	list-style-type: none;
}

.principle {
	padding: 10px 0;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(89,88,77,0.25);
}

a {
	text-decoration: none;
	color: rgb(27,45,80);
}

a:hover {
	color: rgba(27,45,80,0.5);
}

section {
	height: 0;
	overflow: hidden;
	color: rgb(255,255,255);
	transition: height 0.5s;
}

.show {
	padding: 10px 0 20px 0;
	height: 100px;
	color: rgb(89,88,77);
}

.nav {
	margin: 30px 0 10px 0;
	text-align: center;
}

.pages {
	display: inline;
}

.page {
	margin: 0 5px;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: rgba(27,45,80,0.25);
}

.page:hover {
	background-color: rgb(27,45,80);
	color: rgb(255,255,255);
}

.act {
	background-color: rgb(27,45,80);
	color: rgb(255,255,255);
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 90%;
	text-align: center;
	line-height: 2;
	color: rgb(255,255,255);
}

footer a {
	color: rgb(255,255,255);
}

footer a:hover {
	color: rgba(255,255,255,0.5);
}

@media screen and (max-width: 768px) {
	.section {
		padding-right: 20px;
		padding-left: 20px;
	}

	.main-area {
		padding-top: 10px;
	}
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 17px;
	}

	.container {
		max-width: 1200px;
	}

	.push-down-sm {
		margin-bottom: 10px;
	}
}

/* Grid System */
.row {
	margin-right: -20px;
}

.col {
	float: left;
	width: 100%;
	padding-right: 20px;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.332%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	.row {
		margin-right: -40px;
	}

	.col {
		padding-right: 40px;
	}

	.col-sm-11 {width: 91.662%;}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.332%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%;}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
	.col-md-11 {width: 91.662%;}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.332%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%;}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
	.col-lg-11 {width: 91.662%;}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.332%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%;}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}

/* Clearfix Method */
.fix {
	clear: both;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}
